<div class="card" style="width: auto"> 
    <h2> Gestion des employés et des administrateurs:</h2>
    
    <div class="card-body">
        <h5 class="card-title">Liste des employés :</h5>
        <hr>
        <p class="card-text">
            {% for employee in employees %}
                <div class="container-fluid p-3 justify-content-end">
                    {{employee.id}} : <em> {{employee}} </em>,<strong> email : </strong> {{employee.email}}
                    <a href="#" class="col col-2 p-1 btn btn-primary">Consulter</a>
                    <a href="#" class="col col-2 p-1 btn btn-primary">Editer</a>
                    <a href="#" class="col col-2 p-1 btn btn-primary">supprimer</a>
                </div>
                <hr>
            {% endfor %}
        </p>
    </div>

    <div class="card-footer">
        <a href="#" class="btn btn-primary">Créer un employé</a>
    </div>
</div>
                
