<footer class="border-top position-absolute bottom-0">
<div class="row px-3">
    <div class="col-6">
        <h5>Horaires</h5>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
    </div>
    <div class="col-6">
        <h5>Nous contacter</h5>
        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" >
        Formulaire de contact
        </a>
    </div>
</div>
<div class="row d-flex mb-5 border-top">
    <ul class="nav ps-3 ">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary disabled">© 2024 Company, Inc</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
    </ul>
</div>
</footer>


