{% extends 'base.html.twig' %}
{% block title %} Administration du site {% endblock %}

{% block body %}
    <div class="d-flex m-5 bg-warning justify-content-center">
        <h1> Vous devez être connecté pour pouvoir accéder à cette page ! </h1>
    </div>   
{% endblock %}