<div class="card" style="width: auto; height: 50vh"> 
    <h2> Tableau de bord:</h2>
    
    <div class="card-body">
        <h3 class="card-title"> </h3>
        <hr>
        <p class="card-text">
            
        </p>
    </div>
</div>
