{% extends 'base.html.twig' %}
{% block title %} Administration du site {% endblock %}

{% block body %}
    <div class="d-block ms-2 justify-content-center">
        {% if not app.user %}
            <h1> Vous devez être connecté pour pouvoir accéder à cette page ! </h1>
        {% else %}
            <div class="row adminMenu justify-content-evenly p-2 m-3">
                <ul class="navbar-nav d-flex flex-row justify-content-evenly">
                    <li class="nav-item">
                        <a class="nav-link btn p-2" aria-current="page" href="{{ path('admin_employee_show',{'id': user.id})}}">Mon profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn p-2" aria-current="page" href="{{ path('admin_employee_list')}}">Employés </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn p-2" aria-current="page" href="/"> Marques </a>
                    </li>
                </ul>
            </div>
            <div class="row m-3 newAdmin-content">
                <h1> Bienvenue sur la nouvelle interface d'administration du site </h1>

                <div class="col col-12 my-2">
                    {% include page %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}