body{ 
    font-size: 1em;
}
.cantarell-regular, h5, h6, a, button {
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.crimson-text-bold-italic, h1, h2, h3, h4 {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
}
.martel-sans-regular, body {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.btn-primary{
    background-color: #7391C8;
    border: solid 1.5px #7391C8;
    font-size: 0.9em;
}
.btn-primary:hover{
    background-color: #52688f;
    border: solid 1.5px #52688f;
}

body {
    background-color: #52688f;
    color: #071330;
}
.navbar-toggler-icon {
    width:2em;
    height:2em;
}

header .nav-link {
    border: solid 1.5px #7391C8;
    margin: 0.2em;
    width: auto;
    height: 3.5em;
    font-weight: 700;
}

footer .nav-link {
    height: 2em;
}

.nav-link:hover{
    background-color: #7391C8;
}

footer {
    font-size: 0.8em;
}

footer, header {
    background : #BDC6D9;
    border-radius: 0.5em;
}

.reviews{
    background: #E3E7F1;
    border-radius: 0.5em;
    width: 90vw;
    margin: 5vw;
    font-size: 0.9em;
}

.form-contact, .formLogin{
    background: #E3E7F1;
    border-radius: 0.5em;
}
.container {
    width: 88vw;
    margin: 2vw;
}
.accordion {
    width: 90vw
}
.accordion-button{
    background-color: #E3E7F1;
    border: solid 1px #7391C8;
    font-size: 1.1em;
}

.accordion-btn-show{
    background-color: #BDC6D9;
    border: solid 1px #7391C8;
}
.accordion-body{
    background: #E3E7F1;
    font-size: 1em;
}

.rate {
    display: flex;
    flex-flow: row-reverse;
    justify-content: left;
}

.rate input[type="radio"]{
    display: none;
}

#formComment .rate input[type="radio"]{
    display: block;
    border: #7391C8;
}

.rate:not(:checked)>label{
    float: right;
    width: 0.7em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #BDC6D9 ;
}

.rate:not(:checked)>label:before {
    content: '★';
}

.rate>input:checked~label{
    color: #ffc700;
}

.rate.enabled:not(:checked) > label:hover,
.rate.enabled:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate.enabled > input:checked + label:hover,
.rate.enabled > input:checked + label:hover ~ label,
.rate.enabled > input:checked ~ label:hover,
.rate.enabled > input:checked ~ label:hover ~ label,
.rate.enabled > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.filter{
    background-color: #E3E7F1;
    display: block;
    position: sticky;
    top: 20px;
    border-radius: 0.5em;
}
.page-link{
    background-color: #E3E7F1;
}
.page-link:hover{
    background-color: #BDC6D9;
}
.page-link-bg {
    background-color: #BDC6D9;
}

@media screen {
    .photos-list{
        height: 13em;
    }
    .listCars-card{
        width: calc(95vw - 30px);
    } 
}
@media screen and (min-width: 400px){
    .photos-list{
        height: 18em;
    }
}
@media screen and (min-width: 550px){
    .photos-list{
        height: 25em;
    }
}

@media (orientation: landscape) and (max-height: 768) and (max-width: 768) {
    .listCars-card{
        width: calc(45vw - 10px);
    }   
} 

@media screen and (min-width: 700px) {
    .listCars-card{
        width: calc(45vw - 10px); 
    }    
    body{
        font-size: 1em;
    }
    
    footer {
        font-size: 0.8em;
    }
    .photos-list{
        height: 16em;
    }
}

@media (min-width: 992px) {
    .listCars-card{
        width: calc(30vw - 30px);
    } 
    body{ 
        font-size: 1em;
    }
    footer {
        font-size: 0.9em;
    }
    .accueil-block{
        width: 93vw;
    }
    .accueil-card{
        width: 20vw;
        margin-left: auto;
    }
    .photos-list{
        height: 13em;
    }
}
@media (min-width: 1400px) {
    .photos-list{
        height: 16em;
    }
}
@media (min-width: 1500px) {
    .photos-list{
        height: 19em;
    }
    .accueil-card{
        width: 18vw;
        margin-left: auto;
    }
}
@media (min-width: 1800px) {
    .photos-list{
        height: 25em;
    }
    
}
@media (min-width: 2000px) {
    .photos-list{
        height: 32em;
    }
}