.cantarell-regular, h5, h6, a, button {
    font-family: "Cantarell", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.crimson-text-bold-italic, h1, h2, h3, h4 {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
}
.martel-sans-regular, body {
    font-family: "Martel Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #52688f;
    color: #071330;
}
.navbar-toggler-icon {
    width:2.5em;
    height:2.5em;
}

header .nav-link {
    border: solid 1.5px #7391C8;
    margin: 0.2em;
    width: auto;
    height: 4em;
}

footer .nav-link {
    height: 2em;
}

.nav-link:hover{
    background-color: #7391C8;
}

footer {
    font-size: 0.8em;
}

footer, header {
    background : #BDC6D9;
}

.reviews{
    background: #E3E7F1;
    border-radius: 0.5em;
}

.form-contact{
    background: #E3E7F1;
    border-radius: 0.5em;
}

.accordion-button{
    background-color: #E3E7F1;
    border: solid 1px #7391C8;
}
.accordion-button:focus{
    background-color: #BDC6D9;
    border: solid 1px #7391C8;
}
accordion-btn-show{
    background-color: #BDC6D9;
    border: solid 1px #7391C8;
}
.accordion-body{
    background: whitesmoke;
    font-size: 1.5em;
}

.rate {
    display: flex;
    flex-flow: row-reverse;
    justify-content: left;
}

.rate input[type="radio"]{
    display: none;
}

#formComment .rate input[type="radio"]{
    display: block;
}

.rate:not(:checked)>label{
    float: right;
    width: 0.8em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color:#ccc;
}

.rate:not(:checked)>label:before {
    content: '★';
}

.rate>input:checked~label{
    color: #ffc700;
}

.rate.enabled:not(:checked) > label:hover,
.rate.enabled:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate.enabled > input:checked + label:hover,
.rate.enabled > input:checked + label:hover ~ label,
.rate.enabled > input:checked ~ label:hover,
.rate.enabled > input:checked ~ label:hover ~ label,
.rate.enabled > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.filter{
    background-color: #E3E7F1;
    display: block;
    position: sticky;
    top: 20px;
    border-radius: 0.5em;
}