{% extends 'base.html.twig' %}

{% block title %} Garage Vincent Parrot - Contact {% endblock %}

{% block body %}
    
    <div class="row m-4 ">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                <h6>{{message}}<h6>
            </div>
        {% endfor %}
    </div>

    <div class="row m-4 ">
        <h4> Formulaire de contact </h4>
        <div class="col col-9 ms-5 ps-5">
            {{form(form)}}
        </div>
    </div>
{% endblock %}
