{% extends 'base.html.twig' %}

{% block title %} Annouces de Véhicules d'occasion {% endblock %}

{% block body %}

    <div class="row flex-row justify-content-center">
        {% for secondHandCar in secondHandCars %}
            {% include 'partials/advert/advert_list.html.twig' %}
        {% endfor %}
    </div>

{% endblock %}
